root = true

[*.{kt,kts}]
# Indentation
indent_style = space
indent_size = 4
continuation_indent_size = 4

# Line breaks and white spaces
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

# Kotlin specific settings for IntelliJ
ij_kotlin_allow_trailing_comma = true
ij_kotlin_line_comment_at_first_column = true

# Ktlint rule settings
ktlint_standard_indent = true
ktlint_standard_max_line_length = 120
ktlint_standard_no-wildcard-imports = true
ktlint_standard_no-consecutive-blank-lines = true
ktlint_standard_no-blank-line-in-list = true
ktlint_standard_no-unit-return = true

[**/entity/**/*.kt]
ktlint_standard_no-blank-line-in-list = disabled
ktlint_standard_no-trailing-spaces = disabled

# [gradle.properties]
# # Disable trailing whitespace trimming for gradle.properties
# trim_trailing_whitespace = false
#
# # Keep blank lines between comments
# ktlint_standard_no-consecutive-blank-lines = disabled